#app{
    min-height: 60vh;
}

.content{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.button{
    background-color: #2180c3;
    color: white;
    padding: 10px;
    margin-top: 30px;   
}

#form-selects{
    text-align: center;
    background-color: rgb(190, 190, 190);
    padding: 10px;
    border-radius: 10px;
}

.boton button{
    background-color: blue;
    color: white;
    margin-top: 30px;
}

.line-higlight{
    background-color: rgb(141, 141, 141);
    display: inline-block;
    width: 100%;
}

#botones {
    text-align: center;
}

#botones a {
    background-color: #2180c3;
    color: white;
}

#botones a:hover {
    background-color: #1c689e;
    color: white;
}

#reiniciar {
    background-color: #2180c3;
    color: white;
}

#reiniciar:hover {
    background-color: #1c689e;
    color: white;
}