/* All */

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100%;
}

.desactivate {
    display: none;
}

/* Header */

#header {
    background-color: #323330;
    max-height: 55px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

#header a {
    color: white;
    font-size: 17px;
}

#header a:hover {
    border-bottom: 1px solid white;
    color: #F0DB4F;
}

#header a#open-toggle:hover {
    border-bottom: none;
}

.content-link-toggle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* #header a#open-toggle:hover > img {
    border-bottom: 1px solid white;
} */

#navbar {
    max-width: 1111px;
    margin: auto;
}

#slide-menu {
    background-color: #323330;
    color: black;
    display: block;
    position: relative;
    z-index: 2;
    margin-top: -3px;
    width: 41%;
    height: 100vh;
    left: 100%;
    transition: all 300ms linear;
}

#slide-menu.activate-slide {
    left: 59%;
}

#slide-menu #boton a:hover {
    border-bottom: none;
}

/* Welcome */

#contentvideo #mainvideo {
    max-height: 300px;
}

#contentImage {
    height: 500px;
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    position: relative;
    z-index: 0;
}

#contentImage::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, .9); */
    background: #323330;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(244, 219, 79, 1), rgba(50, 51, 48, 1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(244, 219, 79, 1), rgba(50, 51, 48, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -1;
}

#contentImage .row {
    padding-top: 110px;
}

#contentImage .row h3 {
    font-size: 45px;
}

#back-opacity {
    background-color: rgba(0, 0, 0, .7);
    padding: 25px;
    border-radius: 10px;
}

body {
    background-image: url('../imagenes/bg.jpg');
    background-size: cover;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 235, 235, 0.9);
    z-index: -1;
}

#acercadepagina {
    margin-top: 80px;
}

#logoutp img {
    max-width: 100%;
    height: 200px;
}

#teoria {
    margin-top: 80px;
    /* background-color: rgba(255, 255, 255, .9); */
    background: rgba(244, 219, 79, 1);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(244, 219, 79, 1), rgba(50, 51, 48, 1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(50, 51, 48, 1), rgba(244, 219, 79, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
}

#teoria #columna {
    margin-top: 7px;
}

.component-basic h3 {
    text-align: center;
    font-size: 50px;
    margin: auto auto 20px auto;
    font-weight: bold;
}

.component-basic p {
    font-size: 20px;
}

#teoria-elements {
    margin-top: 70px;
}

#teoria-elements .tema {
    text-align: center;
    min-height: 360px;
    /* background-color: rgb(226, 226, 226); */
    /* margin-left: 0px; */
    padding: 20px;
    margin-top: 20px;
}

#teoria-elements #title-moduls {
    margin: 10px auto 50px auto;
}

#teoria-elements #title-moduls h3 {
    font-size: 40px;
    font-weight: bold !important;
}

#teoria-elements .tema .img img {
    width: 100%;
    height: 200px;
}

#teoria-elements .tema .img img:hover {
    width: 90%;
    height: 200px;
}

#teoria-elements .tema h3 {
    font-weight: bold !important;
    margin: 20px auto;
    color: white;
    min-height: 68px;
}

#teoria-elements .tema a {
    color: black;
}

#teoria-elements .tema p {
    text-align: left;
}

.page-footer {
    background-color: #323330;
    margin: 100px auto auto auto;
}

.container-fluid {
    max-width: 1111px;
    margin: auto;
}

.container-fluid h5 {
    color: white;
}

#introduccionJS {
    margin-top: 100px;
}

#introduccionJS a {
    background-color: #4d4d4d;
    color: white;
    padding: 10px;
}

#introduccionJS a:hover {
    font-weight: bold;
}

/* Footer */

.footer-copyright {
    background-color: #4d4d4d;
}

.list-unstyled li a{
    color: white;
}

/* Medias */

@media only screen and (max-width: 990px) {
    #contentImage .row h3 {
        font-size: 27px;
    }
    #slide-menu.activate-slide {
        left: 0%;
    }
    #slide-menu {
        width: 100%;
    }
    .content-link-toggle {
        width: 80%;
    }

    #teoria {
        margin-top: 12px;
        height: 562px;
    }
}

@media only screen and (max-width: 649px) {
    #contentImage::after {
        height: 110%;
    }
}

@media only screen and (max-width: 414px) {
    #contentImage::after {
        height: 120%;
    }

    #acercadepagina {
        margin-top: 120px;
    }
}